.admin__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffa201cb;
    padding: 0 20px;
    border-radius: 10px;
    margin: 20px 0;
}

.admin__container {
    width: 1300px;
    margin: 0 auto;
}

.profile__user {
    font-weight: bold;
}

.delete__button {
    background-color: #ff0000;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.delete__button:hover {
    background-color: darkred;
}

.renew__button {
    background-color: rgb(0, 102, 255);
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.admin__options {
    display: flex;
    justify-content: space-around;
}

.option {
    border: 1px solid #ff6600;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
}

.admin__button {
    background-color: #ff6600;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.admin__button--add {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.stats {
    margin: 20px 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-bottom: 30px;
}

.stat {
    background: white;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.stat:hover {
    transform: translateY(-5px);
}

.stat__title {
    color: #888;
    font-size: 0.9em;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.stat .numero {
    font-size: 2.5em;
    font-weight: bold;
    color: var(--color-primary);
}

.admin__table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    table-layout: fixed;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.admin__table th,
.admin__table td {
    padding: 12px;
    height: 60px;
}

.table__head {
    background-color: var(--color-primary);
}

.activo {
    display: flex;
    width: 80px;
    height: 30px;
    background-color: #ade0b9;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin-top: 5px;
}

.inactivo {
    display: flex;
    width: 80px;
    height: 30px;
    background-color: #ffbec4;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin-top: 5px;
}

.date {
    color: blue;
}

.no__date {
    color: red;
}