body {
    background-color: var(--color-bg);
    color: var(--color-text);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Bloque Login */
.login {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login__container {
    background-color: var(--color-white);
    padding: 40px;
    width: 600px;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 255, 34, 0.342);
    text-align: center;
}

.login__title {
    margin-bottom: 30px;
    font-size: 1.8rem;
    color: var(--color-primary-dark);
}

.login__link {
    display: block;
    margin-top: 20px;
    font-size: 0.9rem;
    color: var(--color-text);
    text-decoration: none;
    transition: all 0.5s ease;
}

.login__link:hover {
    color: var(--color-primary-dark);
    text-decoration: underline;
}

/* Bloque Form */
.form {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.form__group {
    margin-bottom: 20px;
}

.form__label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 0.9rem;
}

.form__input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box; 
    transition: border-color 0.3s;
}

.form__input:focus {
    outline: none;
    border-color: var(--color-primary);
}

.form__submit {
    background-color: var(--color-primary);
    color: var(--color-white);
    padding: 12px;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}
