.banner{
    width: 70%;
    margin: 30px auto;
    background-color: #ffa201cb;
    border: 1px solid #ffa101;
    border-radius: 10px;
    text-align: center;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    position: relative;
}

.product__icon{
    position: absolute;
    top: -20px;
    right: -10px;
    border: 1px solid red;
    background-color: red;
    color: white;
    border-radius: 50%;
    display: flex;
    height: 40px;
    width: 40px;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
