* {
    box-sizing: border-box;
}

:root {
    --color-primary: #feb800;
    --color-primary-dark: #ffa101;
    --color-bg: #f4f4f4;
    --color-text: #1a1a1a;
    --color-white: #ffffff;
    --active: ;
}

@font-face {
    font-family: Barlow;
    font-weight: normal;
    src: url("./../assets/fonts/Barlow-Regular.ttf") format("truetype");
}

@font-face {
    font-family: Barlow;
    font-weight: bold;
    src: url("./../assets/fonts/Barlow-Bold.ttf") format("truetype");
}

body {
    margin: 0;
    font-family: Barlow, Arial, Helvetica, sans-serif;
}

.header {
    background-color: var(--color-primary-dark);
}

.header__container {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.cart {
    display: none;
    cursor: default;
    position: absolute;
    background-color: var(--color-white);
    border-radius: 12px;
    padding: 12px;
    border: 2px solid var(--color-primary);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    right: 0px;
    top: 60px;
    z-index: 10;
}

.cartitems {
    max-height: 400px;
    overflow-y: auto;
}

.cartitem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    margin-bottom: 8px;
    border-bottom: 1px solid var(--color-primary);
}

.cartitem__img {
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.cartitem__quantity,
.cartitem__price {
    font-weight: bold;
    color: var(--color-primary-dark);
    width: 20px;
}

.cartitem__price {
    width: 55px;
}

.cartitem__info {
    display: flex;
    align-items: center;
    gap: 8px;
}

.list__item--cart:hover .cart {
    display: block;
}

.logo {
    width: 150px;
    height: 100px;
}

.nav__list {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.list__link {
    text-decoration: none;
    color: var(--color-white);
}

.active {
    font-weight: bold;
    color: var(--color-text);
}

.list__item {
    list-style-type: none;
}

.list__item--cart {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.main {
    padding-top: 18px;
    background-color: var(--color-bg);
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    gap: 16px;
    max-width: 1300px;
    margin: 0 auto;
}


.product {
    background-color: var(--color-white);
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 16px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product__img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.product__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.product__title {
    font-size: 1.5rem;
    color: var(--color-primary-dark);
    font-weight: bold;
}

.product__form {
    display: flex;
    justify-content: end;
    gap: 8px;
    align-items: center;
}

.product__price {
    font-size: 1.4rem;
    color: var(--color-primary-dark);
    font-weight: bold;
    margin: 0;
}

.product__btn,
.cart__btn {
    background-color: var(--color-primary);
    color: var(--color-white);
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    width: fit-content;
}

.product__cart {
    width: 20px;
    height: 20px;
}

.product__btn:hover,
.cart__btn:hover {
    background-color: var(--color-primary-dark);
}

.cart__btn {
    width: 100%;
    font-weight: bold;
    margin-top: 8px;
}

.cart__btncontainer {
    display: flex;
    justify-content: end;
}

.register {
    border: 1px solid red;
    width: 600px;
}

.register__title {
    text-align: center;
    color: var(--color-primary-dark);
}

.register__form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.login__access {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    height: 30px;
    color: var(--color-text);
    transition: all 0.5s ease;
}

.login__access:hover {
    color: var(--color-primary);
    text-decoration: underline;
}

.register__back {
    display: flex;
    justify-content: end;
}

.welcome {
    background-color: var(--color-bg);
}

.welcome__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    gap: 8px;
    max-width: 1300px;
    margin: 0 auto;
    min-height: calc(100vh - 100px);
}

.welcome__content {
    width: 40%;
}

.welcome__title {
    font-size: 3rem;
    color: var(--color-primary-dark);
    margin-bottom: 16px;
}

.welcome__image {
    width: 55%;
}

.welcome__image img {
    width: 100%;
    height: auto;
    border-radius: 24px;
}


.info {
    background-color: var(--color-primary-dark);
    color: var(--color-white);
    text-align: center;
    padding: 16px;
    min-height: 60vh;
}

.info__container {
    max-width: 1300px;
    margin: 0 auto;
}

.info__title {
    font-size: 2.5rem;
    margin-bottom: 16px;
}

.info__text {
    font-size: 1.2rem;
    line-height: 1.6;
}

.installations {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    margin-top: 32px;
}

.installation {
    width: 400px;
    border: 2px solid var(--color-white);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: var(--color-white);
    color: var(--color-text);
}

.installation__img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.btn__logout {
    text-decoration: none;
    background-color: red;
    color: var(--color-white);
    padding: 8px 12px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn__logout:hover {
    background-color: darkred;
}

.red {
    color: red;
}